*{
  touch-action: manipulation;
}
body {

  a, h2{
    margin-top: 2%;
    margin-left: 0;
    color: #eb5f71;
    margin-bottom: 2%;
  }

  h1{
    margin-bottom: 5%;
  }

  #container {
    display: flex;
    justify-content: space-between;
    height: 40vh;
    margin-top: 11%;
    margin-bottom: 8%;
    margin-left: 5%;
    
  }
 #settingsPage {
   line-height: 1.5rem;
 }
  #barStyle {
    text-align: center;
    align-self: center;
    width: 50%;
    margin: auto;
    #info{
      font-weight: bold;
    }
  }

  #startUpdate{
    margin-top: 2%;
    font-size: 100%;
    font-family: nasalization, sans-serif;
    font-weight: bold;
    outline: none;
    border:none;
    background-color:#eb5f71;
  }

  //Progress bar
  #progressBar {
    height: 24px;
    width: 0;
    margin-top: 1%;
  }

  .loadingBarColor {
    color: #fff;
    background-color: #EB7A5E;
  }

  .barDivColor {
    color: #000;
    background-color: #f1f1f1;
  }

  //Battery

  .battery {
    margin-top: 5%;
    height: 110px;
    width: 225px;
    border: 8px solid #ffffff;
    border-radius: 12px;
    transform: rotate(360deg);
    margin-right: 5rem;
  }

  .battery:before {
    content: "";
    position: absolute;
    margin: auto;
    height: 55px;
    width: 20px;
    background-color: #ffffff;
    right: -25px;
    top: 0;
    bottom: 0;
    border-radius: 0 7px 7px 0;
  }

  .battery:after {
    content: "";
    position: absolute;
    height: 80px;
    width: 40px;
    background-color: red;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 10px;
    border-radius: 5px;
    box-shadow: 50px 0 transparent,
    100px 0 transparent,
    150px 0 transparent;
    animation: charge 4s infinite;

  }

  @keyframes charge {
    0% {
      background-color: red;
      box-shadow: 50px 0 transparent,
      100px 0 transparent,
      150px 0 transparent;
    }
    15% {
      background-color: red;
      box-shadow: 50px 0 red,
      100px 0 transparent,
      150px 0 transparent;
    }
    30% {
      background-color: red;
      box-shadow: 50px 0 red,
      100px 0 transparent,
      150px 0 transparent;
    }
    50% {
      background-color: orange;
      box-shadow: 50px 0 orange,
      100px 0 orange,
      150px 0 transparent;
    }
    70% {
      background-color: orange;
      box-shadow: 50px 0 orange,
      100px 0 orange,
      150px 0 transparent;
    }
    85% {
      background-color: green;
      box-shadow: 50px 0 green,
      100px 0 green,
      150px 0 green;
    }
    100% {
      background-color: greenyellow;
      box-shadow: 50px 0 greenyellow,
      100px 0 greenyellow,
      150px 0 greenyellow;
    }
  }


}


