@charset "UTF-8";
@font-face {
  font-family: nasalization;
  src: url("../font/nasalization-rg.otf") format("opentype");
}
* {
  touch-action: manipulation;
}

body {
  background: #11223B;
  color: #FF9061;
  font-family: nasalization, sans-serif;
  /* checkbox effect */
  /* Styling for the popup */
  /* Animation for the button: Go to proximity chat. */
}
body .formGroup {
  margin-left: 20%;
  height: 10vh;
}
body h1 {
  color: #EB7A5E;
  font-size: 2rem;
  margin-top: 1rem;
}
body h2 {
  font-size: 1.5rem;
  margin: 1rem;
}
body .hidden {
  display: none !important;
}
body .hide {
  display: none;
}
body #fullscreenLogo {
  display: none;
  background-image: url("../images/fullscreen.png");
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
}
body #fullscreenLogo:hover {
  cursor: pointer;
}
body input[type=checkbox] {
  display: none;
}
body input[type=checkbox] + label {
  display: flex;
  margin: 0.6em 0;
  align-items: center;
  color: #9E9E9E;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  background: none;
}
body input[type=checkbox] + label > span {
  display: flex;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
body input[type=checkbox] + label:hover, body input[type=checkbox]:focus + label {
  color: #FF9061;
  cursor: pointer;
  background: none;
}
body input[type=checkbox] + label:hover > span, body input[type=checkbox]:focus + label > span {
  background: rgba(255, 255, 255, 0.1);
}
body input[type=checkbox]:checked + label > span {
  border: 0.5em solid #FF9061;
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
  background: #FF9061;
}
body input[type=checkbox]:checked + label > span:before {
  content: "";
  position: absolute;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}
body .ol-popup {
  animation: bounce 4s ease forwards;
  position: absolute;
  background-color: #11223B;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
body .ol-popup #popup-content {
  text-align: center;
}
body .ol-popup #popup-content p {
  font-size: 20px;
}
body .ol-popup #popup-content p span {
  font-size: 0.8rem;
}
body .ol-popup #popup-content button {
  border: 0;
  padding: 10px;
  width: 49%;
  border-radius: 10px;
  background: linear-gradient(90deg, #FF9061 0%, #EB7A5E);
}
body #chatroom {
  height: 100vh;
  width: 100vw;
}
body #chatroom #username {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  width: 100vw;
  padding-left: 2%;
  border-bottom: 5px #cc744e solid;
}
body #chatroom #username * {
  margin: 1% 1%;
  font-size: 3vh;
  display: inline;
}
body #chatroom #username p {
  padding-right: 2%;
}
body #chatroom #username img {
  width: 10%;
}
body #chatroom #messages {
  display: flex;
  flex-direction: column-reverse;
  height: 85vh;
  overflow: auto;
}
body #chatroom #messages div {
  padding-bottom: 1.4rem;
}
body #chatroom #messages p {
  font-size: 40px;
  padding: 1rem;
  line-break: anywhere;
}
body #chatroom #messages p:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0.4rem;
}
body #chatroom #messages div p:last-of-type {
  color: #eb5f71;
  animation: show-date 1s linear;
  padding-top: 0rem;
}
body #chatroom #messages .owner {
  text-align: right;
  background-color: #0f1e33;
}
body #chatroom #messages .owner p:nth-child(2) {
  animation: slideIn 0.2s linear forwards;
}
body #chatroom #messages .owner p:first-child {
  display: none;
  margin-bottom: 0%;
}
body #chatroom #messages .friend p:first-child, body #chatroom #messages .friend p:nth-child(2) {
  animation: slideInFriend 0.2s linear forwards;
}
body #chatroom #communication-panel {
  height: 10vh;
  display: grid;
  grid-template-columns: max-content auto max-content;
  column-gap: 10px;
}
body #chatroom #communication-panel button {
  font-size: 4rem;
  width: 20vw;
  background-color: transparent;
  border: 5px solid;
  animation: border-gradient 3s linear infinite;
  border-radius: 10%;
}
body #chatroom #communication-panel input {
  background-color: transparent;
  display: block;
  font-size: 4rem;
  width: 80vw;
  border: 4px solid;
  animation: border-gradient 3s linear infinite;
  border-radius: 4%;
}
body #chatroom #communication-panel input:focus {
  outline: none;
}
body #echoMapPage {
  display: flex;
}
body #echoMapPage form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 5%;
}
body #echoMapPage #map {
  width: 700px;
  height: 380px;
}
body .ol-popup:after, body .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
body .ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
body .ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
body .ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
body .ol-popup-closer:after {
  content: "✖";
  color: #eb5f71;
}
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-7%);
  }
  27% {
    transform: translateY(0%);
  }
  29% {
    transform: translateY(-3%);
  }
  30% {
    transform: translateY(0%);
  }
}
@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
body .proximityChat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
body .buttonProx {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #FF9061;
  background: linear-gradient(90deg, #FF9061 0%, #EB7A5E);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #ff9061;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
}
body .buttonProx::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
body .buttonProx:hover, body .button:focus {
  color: #313133;
  transform: translateY(-6px);
}
body .buttonProx:hover::before, body button:focus::before {
  opacity: 1;
}
body .buttonProx::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #EB7A5E;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
body #menu {
  line-height: 100%;
  height: 10%;
}
body .buttonProx:hover::after, body button:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
@keyframes show-date {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFriend {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes border-gradient {
  0% {
    border-color: #FF9061;
    color: #FF9061;
  }
  12% {
    border-color: #EB7A5E;
    color: #EB7A5E;
  }
  25% {
    border-color: #f0666e;
    color: #f0666e;
  }
  50% {
    border-color: #ff556c;
    color: #ff556c;
  }
  75% {
    border-color: #f0666e;
    color: #f0666e;
  }
  88% {
    border-color: #EB7A5E;
    color: #EB7A5E;
  }
  100% {
    border-color: #FF9061;
    color: #FF9061;
  }
}

/*# sourceMappingURL=style.css.map */
